.card-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 175, 194);
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smootining: greyscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 1s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
